.linkContainer {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 3;
}

.logoLink {
    height: 40px;
    transition: 0.4s;
}

.logoLink:hover {
    height: 45px;
    transition: 0.4s;
}

/* ================================================= MOBILE STYLES ================================================= */

@media screen and (min-width: 320px) and (max-width: 1024px) {

    .linkContainer {
        position: fixed;
        top: 20px;
        left: 20px;
    }

    .logoLink {
        height: 32px;
        transition: 0.4s;
    }

}