.footerContainer {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyrightElement {
    padding: 2px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.footerLogo {
    padding: 0px 4px;
    width: 48px;
}

/* === REACTJS ICON === */

.linkElement {
    position: relative;
    margin: 0px 4px;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: #101010;
    color: #101010;
    animation-name: linkElementAnimateReverse;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes linkElementAnimateReverse {

    0% {
        height: 28px;
        width: 140px;
    }

    20% {
        height: 28px;
        width: 140px;
    }

    100% {
        height: 24px;
        width: 24px;
    }
}

@keyframes linkElementAnimate {

    0% {
        height: 24px;
        width: 24px;
    }

    80% {
        height: 28px;
        width: 140px;
    }

    100% {
        height: 28px;
        width: 140px;
    }
}

.linkElement:hover {
    position: relative;
    margin: 0px 2px;
    height: 28px;
    width: 140px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #101010;
    color: #101010;
    animation-name: linkElementAnimate;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.linkTag {
    display: flex;
    height: 24px;
    width: 24px;
}

.linkTag:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    width: 140px;
}

.linkTag:hover .footerIcons {
    background-color: #DDDFE2;
    background-image: url('../../imgs/reactIcon.png');
    background-size: 28px 28px;
    background-position: center;
    background-attachment: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    transition: 0.3s;
}

.iconText {
    position: absolute;
    top: 7px;
    left: 32px;
    opacity: 0;
    font-size: 75%;
    font-weight: 100;
    color: #DDDFE2;
    animation-name: iconTextAnimateReverse;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes iconTextAnimateReverse {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes iconTextAnimate {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.linkTag:hover .iconText {
    position: absolute;
    left: 32px;
    opacity: 1;
    font-size: 75%;
    font-weight: 100;
    color: #DDDFE2;
    animation-name: iconTextAnimate;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.footerIcons {
    background-color: #DDDFE2;
    background-image: url('../../imgs/reactIcon.png');
    background-size: 24px 24px;
    background-position: center;
    background-attachment: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 4px;
}



/* === GITHUB ICON === */

.linkElementCircle {
    position: relative;
    margin: 0px 4px;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    background-color: #101010;
    color: #101010;
    animation-name: linkElementAnimateCircleReverse;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes linkElementAnimateCircleReverse {

    0% {
        height: 28px;
        width: 128px;
    }

    20% {
        height: 28px;
        width: 128px;
    }

    100% {
        height: 24px;
        width: 24px;
    }
}

@keyframes linkElementAnimateCircle {

    0% {
        height: 24px;
        width: 24px;
    }

    80% {
        height: 28px;
        width: 128px;
    }

    100% {
        height: 28px;
        width: 128px;
    }
}

.linkElementCircle:hover {
    position: relative;
    margin: 0px 2px;
    height: 28px;
    width: 128px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    background-color: #101010;
    color: #101010;
    animation-name: linkElementAnimateCircle;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.footerIconsCircle {
    background-color: #DDDFE2;
    background-image: url('../../imgs/githubIcon.png');
    background-size: 24px 24px;
    background-position: center;
    background-attachment: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 24px;
}

.linkTag:hover .footerIconsCircle {
    background-color: #DDDFE2;
    background-image: url('../../imgs/githubIcon.png');
    background-size: 28px 28px;
    background-position: center;
    background-attachment: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 28px;
    transition: 0.3s;
}

  /* ============================================= MOBILE STYLES ============================================= */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .copyrightElement {
        padding: 4px;
        display: flex;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-size: 80%;
    }

    .footerLogo {
        padding: 0px 4px;
        width: 44px;
    }

    .linkElement {
        position: relative;
        margin: 0px 4px;
        height: 20px;
        width: 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        background-color: #101010;
        color: #101010;
    }

    @keyframes linkElementAnimateReverse {

        0% {
            height: 28px;
            width: 140px;
        }
    
        20% {
            height: 28px;
            width: 140px;
        }
    
        100% {
            height: 20px;
            width: 20px;
        }
    }

    @keyframes linkElementAnimateCircleReverse {

        0% {
            height: 28px;
            width: 128px;
        }
    
        20% {
            height: 28px;
            width: 128px;
        }
    
        100% {
            height: 20px;
            width: 20px;
        }
    }

    .linkElementCircle {
        position: relative;
        margin: 0px 4px;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        background-color: #101010;
        color: #101010;
    }

    .linkTag {
        display: flex;
        height: 20px;
        width: 20px;
    }

    .footerIcons {
        background-color: #DDDFE2;
        background-image: url('../../imgs/reactIcon.png');
        background-size: 20px 20px;
        background-position: center;
        background-attachment: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 20px;
        width: 20px;
    }

    .footerIconsCircle {
        background-color: #DDDFE2;
        background-image: url('../../imgs/githubIcon.png');
        background-size: 20px 20px;
        background-position: center;
        background-attachment: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }

    .iconText {
        display: none;
    }
}