  /* === GLOBAL STYLES === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #DDDFE2;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}

.hidden {
  display: none;
}

/* === CONTENT CONTAINERS ======================================================================================= */

/* === DESKTOP === */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 95%;
  padding: 220px 0px 80px 0px;
  /* border: 1px dotted black; */
}

/* === TABLET === */

@media screen and (min-width: 667px) and (max-width: 1024px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      padding: 172px 20px 40px 20px;
    }
}

/* === MOBILE === */

@media screen and (min-width: 320px) and (max-width: 667px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      padding: 172px 20px 40px 20px;
    }
}