  /* === GLOBAL STYLES === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #DDDFE2;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.placeholderLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPlaceholder {
  width: 300px;
  height: 300px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}