  /* === GLOBAL STYLES === */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: #DDDFE2;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.placeholderLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPlaceholder {
  width: 300px;
  height: 300px;
}