.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 95%;
    padding: 220px 0px 80px 0px;
    /* border: 1px dotted black; */
}

.pictureFrame {
    position: relative;
    opacity: 0;
    grid-column-start: 3;
    grid-column-end: 7;
    padding-top: 100%;
    border-radius: 40px;
    overflow: hidden;
    background-color: grey;
}

.selfie {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.introTextRow {
    opacity: 0;
    grid-column-start: 8;
    grid-column-end: 16;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.introText {
    font-family: 'Cardo', serif;
    font-size: 350%;
}

.elevatorText {
    opacity: 0;
    grid-column-start: 3;
    grid-column-end: 16;
    margin-top: 64px;
    font-size: 150%;
    line-height: 150%;
    letter-spacing: 1px;
}

.contentFadeIn {
    z-index: -1;
    animation-name: contentFadeIn;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes contentFadeIn {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ================================================= MOBILE STYLES ================================================= */

@media screen and (min-width: 320px) and (max-width: 667px) {

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        padding: 172px 20px 40px 20px;
    }
    
    .pictureFrame {
        position: relative;
        opacity: 0;
        grid-column-start: 2;
        grid-column-end: 8;
        padding-top: 100%;
        border-radius: 40px;
        overflow: hidden;
        background-color: grey;
    }

    .selfie {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .introTextRow {
        opacity: 0;
        grid-column-start: 1;
        grid-column-end: 9;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .introText {
        font-family: 'Cardo', serif;
        font-size: 200%;
        padding: 12px 0px;
        text-align: center;
    }

    .introText1 {
        margin-top: 12px;
        font-size: 300%;
    }

    .elevatorText {
        opacity: 0;
        grid-column-start: 1;
        grid-column-end: 9;
        margin-top: 16px;
        font-size: 125%;
        line-height: 150%;
    }

}