.toggleContainer {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 90px;
    cursor: pointer;
}

.toggleContainer:focus {
    border: none;
}

.menuLabel {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 110%;
}

.menuLabelClose {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 110%;
}

.hidden {
    display: none;
}

.menuIcon {
    position: relative;
    top: 2px;
    outline: none;
    border: none;
    width: 30px;
    height: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .menuIcon:focus {
      outline: none;
  }

  .menuIcon span {
    display: block;
    position: absolute;
    height: 4px;
    background: #101010;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

.menuIcon span:nth-child(1) {
    top: 0px;
    width: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .menuIcon span:nth-child(2) {
    top: 10px;
    width: 60%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .menuIcon.open {
    position: relative;
    top: 0px;
    left: -4px;
  }

  .menuIcon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 8px;
  }

  .menuIcon.open span:nth-child(2) {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 8px;
  }